<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fugu.modules.device.mapper.DeviceBaseMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="ResultMap" type="com.fugu.modules.device.entity.DeviceBase">
		<id column="id" property="id" />
		<result column="name" property="name" />
        <result column="number" property="number" />
		<result column="statu" property="statu" />
        <result column="commdata" property="commdata" />
        <result column="options" property="options" />
        <result column="qztime" property="qztime" />
        <result column="qstime" property="qstime" />
        <result column="azposition" property="azposition" />
        <result column="d_bmmgtid" property="d_bmmgtid" />
        <result column="d_typeid" property="d_typeid" />


	</resultMap>

    <select id="selectIDByoptions" resultType="java.lang.Integer">
        SELECT id FROM  t_dev_base
        WHERE
        1 = 1
        <if test="options!=null and options!=''">
            AND options LIKE '%#{options}%'
        </if>
    </select>

    <select id="selectByids" resultMap="ResultMap">
        SELECT * from t_dev_base
        WHERE id in
        <foreach collection="Set" item="id" open="(" close=")" separator=",">
         #{id}
        </foreach>
    </select>

    <delete id="deleteBatches">
        DELETE FROM  t_dev_base  WHERE id IN
        <foreach collection="list" item="ids" open="(" separator="," close=")">
          #{ids}
        </foreach>
    </delete>

</mapper>
